.perfilUsuario {
    margin: 8vh 0;
}

.perfilUsuario .titulo{
background-color: #e4e4e4;
border-radius: 5px;
}
.perfilUsuario .contenido {
    background-color: #045757;

    color: #e4e4e4;
}

.perfilUsuario .contenido .btEnviar {
    margin: 3vh 0px;
    color: #045757;
}.navbar-expand-md{
    position: static;
     }