
<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>

  <body>
    <%- include("partials/navbar") %> 
    <%- include("partials/social") %>
    <div class="container carrito" style="margin-top: 8vh; margin-bottom: 5vh;">
        <div class="row">
            
                
                   <h3 class="titulo col-12" style="text-align: center; background-color: #045757;color: #e4e4e4; border-radius: 3px;" >CARRITO</h3> 
                   <div class="row">
                <section class="col-12 col-lg-4" style="padding-top: 2vh;">
                <div class="images" >
                <img src="../images/guitarra-azul-fender.jpeg" width="210px" height="210px" style="text-align: center;"  >
                <div class="detalle-producto">
                <p >Guitarra Fender</p><br> 
                 <p>$27.000</p>
             
              </div>
            </div>
            
            
            </div>
          </section>
          <section class="col-12 col-lg-8" style="padding-top: 2vh;">
            <div>
              <div class="detalle-de-compra">
                  
                <div class="titulo2">
                <h3>DETALLE DE COMPRA</h3>
                </div>
                  <form action="">
                      <label><span>Articulo/os:</span> </label> <br>
                      
                      <label for=""><span>Costo de envio:</span></label><br> 
    ​
                      <label for=""><span>Total de impuestos:</span></label> <br> 
    ​
                      <label for=""><span>Total:</span> </label> <br> 
                     <button class="continuar" type="submit"> COMPRAR</button>
                  </form>
              </div>
              <a href="/products">Seguir Comprando</a>
            </div>
          </section>
        </div>
        </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>