<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/social") %>
    <div class="Error container">
      <div class="row">
        <div class="col-12">
          <h1 >
            ERROR 404
          </h1>
          <h2 >
            Por Favor 
          </h2>
          <h2 >
            Elija una de nuestras opciones
          </h2>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
